body {
	font-family: "Open Sans", sans-serif;
	margin-left: 20px;
	
}
h1,
h2,
h3,
h4 {
	font-family: "Roboto", sans-serif;
	margin-bottom: 0;
    font-size: 25px;
	
}
.navbar{

	top: 0;
	position: sticky;
	margin-left: -200px;

}
code{
	
	color: #6e59d9;

}
footer {
	
	position: fixed;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 100%;
	padding: 25px;
	bottom: 0%;
	
}

.left-content {
    text-align: right; 
}
.left-content p {
	margin: 0;
}